:host {
  flex-grow: 1;
  margin: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    position: relative;
    line-height: 2em;
    padding-left: 0.5em;
    padding-bottom: 8px;
    align-items: baseline;
    .title {
      font-size: 1.2em;
      line-height: 2em;
    }
  }
}
