<div class="buttons">
  <div class="button-line title">
    <div class="separator local">Local</div>
    <div class="separator server">Server</div>
    <div class="separator tree">Tree</div>
  </div>
  <div class="button-line" *ngFor="let anim of animations">
    <div class="separator local"></div>
    <div class="separator server"></div>
    <div class="separator tree"></div>
    <span class="label">{{ anim.titre | titlecase }}</span>
    <button class="btn" (click)="shownOptions(anim.options, $event)" [disabled]="!anim.options || anim.options.length === 0" >
      <i class="fa fa-bars" title="Options"></i>
    </button>
    <button class="btn" (click)="anim.calculate && anim.calculate(points)" [disabled]="!anim.calculate" >
      <i class="fa fa-gears" [title]="anim.existOnBackend ? 'Regenerate' : 'Generate'"></i>
    </button>
    <button class="btn" (click)="anim.sendAnimToTree && anim.sendAnimToTree()" [disabled]="anim.lines.length === 0" >
      <i class="fa-solid fa-lightbulb" title="Mimic on tree"></i>
    </button>
    <button class="btn" (click)="anim.saveFileToBackend && anim.saveFileToBackend()" [disabled]="anim.lines.length === 0" >
      <i class="fa-solid fa-floppy-disk" title="Save to server"></i>
    </button>
    <button class="btn" (click)="anim.deleteFileFromBackend &&anim.deleteFileFromBackend()" [disabled]="!anim.existOnBackend" >
      <i class="fa-solid fa-trash" title="Delete from server"></i>
    </button>
    <button class="btn" (click)="anim.visuFromBackend && anim.visuFromBackend()" [disabled]="!anim.existOnBackend" >
      <i class="fa-regular fa-lightbulb" title="Visu from backend"></i>
    </button>
    <button class="btn" (click)="anim.pushToTree && anim.pushToTree()" [disabled]="!anim.existOnBackend" >
      <i class="fa-solid fa-tree" title="Push to tree"></i>
    </button>
    <button class="btn" (click)="anim.deleteFromTree && anim.deleteFromTree()" [disabled]="!anim.existOnTree" >
      <i class="fa-solid fa-trash" title="Delete from tree"></i>
    </button>
    <button class="btn" (click)="anim.execOnTree && anim.execOnTree()" [disabled]="!anim.existOnTree" >
      <i class="fa-solid fa-lightbulb" title="Exec on tree"></i>
    </button>
    <div   *ngIf="!anim.existOnTree" class="filler"></div>
  </div>
  <div class="button-line">
    <span *ngIf="!file" class="label">&nbsp;</span>
    <span *ngIf="file" class="label" (click)="fileUploadButtonClicked()">{{file.name}}</span>
    <input #inputfile class="form-control" type="file" class="inputfile" (change)="fileUploadChange($event)">
    <button *ngIf="!file" class="fileUploadButton" (click)="fileUploadButtonClicked()">File to upload</button>
    <div *ngIf="file"  class="filler" (click)="fileUploadButtonClicked()"></div>
    <div *ngIf="file"  class="filler" (click)="fileUploadButtonClicked()"></div>
    <button *ngIf="file" (click)="onUpload()" class="btn btn-success">Upload</button>
    <!-- <div  class="filler"></div>
    <div  class="filler"></div>
    <div  class="filler"></div>
    <div  class="filler"></div>
    <div  class="filler"></div> -->
  </div>
</div>
<!-- <div class="file">
  <div class="line" *ngFor="let line of lines">
    <div class="duration">{{ line.duration }}</div>
    <div class="leds">
      <div class="led" *ngFor="let led of line.leds; let isFirst = first">
        <span *ngIf="!isFirst">, </span>
        <div [style]="'background-color: rgba(' + led.r + ',' + led.g + ',' + led.b + ',0.2);'">{{ led.index }} {{ led.r }} {{ led.g }} {{ led.b }}</div>
      </div>
    </div>
  </div>
</div> -->
<div #optionDiv class="options" [ngClass]="{hide : optionHide}">
  <div *ngFor="let option of options" class="option">
      <div>{{option.name}}</div>
      <input *ngIf="option.type === 0" type="number" min="{{option.min}}" max="{{option.max}}" [(ngModel)]="option.valueN">
      <span  *ngIf="option.type === 0" class="unit">{{option.unit}}</span>
      <input *ngIf="option.type === 1 && option.valueS" [(colorPicker)]="option.valueS" [style.background]="option.valueS"/>
  </div>
  <button (click)="hideOptions()" class="btn btn-success">Done</button>
</div>